Repository talkarr/talkarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Dependencies, Backend, Frontend, End-to-End, Unit-Tests, API, Translations

Publish talkarr v1.0.1
  package.json
Labels: Dependencies

Override version label with git output
  .github/workflows/ci.yml
Labels: none

Add debug logging for version env variables
  backend/env.ts
Labels: Backend

Add debug logging for version env variables (#169)
  backend/env.ts
Labels: Backend

Publish talkarr v1.0.2
  package.json
Labels: Dependencies

More fixes for information modal
  backend/root-log.ts
  src/app/_modals/InformationModal/index.tsx
Labels: Backend, Frontend

Ensure env variable gets set even if git command fails
  backend/env.ts
Labels: Backend

Install missing git dependency in Dockerfile
  Dockerfile
Labels: none

Migrate environment variable to api call
  backend/env.ts
  src/app/_components/Navigation/index.tsx
  src/app/_modals/InformationModal/index.tsx
  src/env.d.ts
Labels: Backend, Frontend

Fix linter
  src/app/_components/Navigation/index.tsx
Labels: Frontend

Migrate environment variable to api call (#170)
  backend/env.ts
  src/app/_components/Navigation/index.tsx
  src/app/_modals/InformationModal/index.tsx
  src/env.d.ts
Labels: Backend, Frontend

Add new banner asset
  assets/banner.png
  assets/banner.xcf
Labels: none

Add curl dependency so health check does not fail
  Dockerfile
Labels: none

Add curl dependency so health check does not fail (#175)
  Dockerfile
Labels: none

Added banner images
  assets/banner.png
  assets/banner.xcf
  assets/banner_inverted.png
  assets/banner_inverted.xcf
Labels: none

.github/labeler.yml:

# GitHub Labeler Configuration
Documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**

feature:
  - head-branch: ['^feature', 'feature']

bug:
  - head-branch: ['^bug', 'bug']

bugfix:
  - head-branch: ['^bug', 'bug']

Dependencies:
  - changed-files:
      - any-glob-to-any-file: ['package.json', 'yarn.lock']

Backend:
  - changed-files:
      - any-glob-to-any-file: backend/**

Frontend:
  - changed-files:
      - any-glob-to-any-file: src/**

End-to-End:
  - changed-files:
      - any-glob-to-any-file: e2e/**

Unit-Tests:
  - changed-files:
      - any-glob-to-any-file: backend/__tests__/**

API:
  - changed-files:
      - any-glob-to-any-file: ['backend/api/**', 'backend.json']

Translations:
  - changed-files:
      - any-glob-to-any-file: ['src/i18n/**', 'src/translations', 'src/translations/**']
