Repository talkarr/talkarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Dependencies, Backend, Frontend, End-to-End, Unit-Tests, API, Translations

Remove features section
  README.md
Labels: none

Add name field to job
  .github/workflows/translations.yml
Labels: none

Add documentation for translating
  docs/translating/index.md
Labels: Documentation

Update documentation
  docs/index.md
Labels: Documentation

Try to fix translation ci
  .github/workflows/translations.yml
Labels: none

Also run translations ci when itself is updated
  .github/workflows/translations.yml
Labels: none

Add some debugging logs
  .github/workflows/translations.yml
Labels: none

Ensure the full history is present to not cause any errors
  .github/workflows/translations.yml
Labels: none

Improve CI
  .github/workflows/translations.yml
Labels: none

Try to fix ci
  .github/workflows/translations.yml
Labels: none

Migrate to PAT to allow for the CIs to run
  .github/workflows/translations.yml
Labels: none

Make sure this does not run for its own branch
  .github/workflows/translations.yml
Labels: none

Use the env variable
  .github/workflows/translations.yml
Labels: none

Fix check
  .github/workflows/translations.yml
Labels: none

Use variable to fix ci issue
  .github/workflows/translations.yml
Labels: none

Add warning text for known issue when importing from EventFahrplan
  src/app/(i18n)/(authenticated)/talks/import/_components/ImportJsonField/index.tsx
Labels: Frontend

Add warning text for known issue when importing from EventFahrplan (#157)
  src/app/(i18n)/(authenticated)/talks/import/_components/ImportJsonField/index.tsx
Labels: Frontend

Add tests for changing the language
  e2e/after-setup/change-translations.spec.ts
  src/app/_components/ChangeLanguageButton/index.tsx
  src/app/_components/LanguageChanger/index.tsx
Labels: Frontend, End-to-End

Fix the number
  e2e/after-setup/change-translations.spec.ts
Labels: End-to-End

Add tests for changing the language (#159)
  e2e/after-setup/change-translations.spec.ts
  src/app/_components/ChangeLanguageButton/index.tsx
  src/app/_components/LanguageChanger/index.tsx
Labels: Frontend, End-to-End

CI fixes + release docker-compose file
  .github/workflows/ci.yml
  .github/workflows/translations.yml
  docker-compose.yml
Labels: none

v1.0.0
  package.json
Labels: Dependencies

Change tag commit message format for future commits
  .yarnrc
Labels: none

Simplify the CI to make it faster
  .github/workflows/ci.yml
  next.config.ts
Labels: none

Make e2e tests require lint and unit test
  .github/workflows/ci.yml
Labels: none

Fix dockerignore
  .dockerignore
Labels: none

Fix bug where tagged versions show unknown instead of the tag
  backend/env.ts
Labels: Backend

Fix bug where tagged versions show unknown instead of the tag (#162)
  backend/env.ts
Labels: Backend

Fixed a bug where the patches would not be applied in the container
  Dockerfile
Labels: none

Try to make some fixes
  e2e/after-setup/auth.setup.ts
  src/app/_components/VideoMetaBadge/index.tsx
Labels: Frontend, End-to-End

Improve web manifest
  src/app/manifest.json
Labels: Frontend

Improve web manifest (#164)
  src/app/manifest.json
Labels: Frontend

Try to improve click position
  e2e/after-setup/talks.spec.ts
Labels: End-to-End

Try to improve tests
  e2e/after-setup/talks.spec.ts
  src/app/(i18n)/(authenticated)/talks/add/_components/SearchItem/index.tsx
Labels: Frontend, End-to-End

Try it with force
  e2e/after-setup/talks.spec.ts
Labels: End-to-End

Finally fix tests for mobile
  e2e/after-setup/talks.spec.ts
  playwright-after-setup.config.ts
Labels: End-to-End

Try to improve click position (#163)
  e2e/after-setup/talks.spec.ts
  playwright-after-setup.config.ts
  src/app/(i18n)/(authenticated)/talks/add/_components/SearchItem/index.tsx
Labels: Frontend, End-to-End

Trying to fix the problem where the dismiss button in notistack is not translated
  src/app/(i18n)/layout.tsx
  src/app/layout.tsx
Labels: Frontend

Trying to fix the problem where the dismiss button in notistack is not translated (#165)
  src/app/(i18n)/layout.tsx
  src/app/layout.tsx
Labels: Frontend

Fix licenses.json
  backend/licenses.json
Labels: Backend

.github/labeler.yml:

# GitHub Labeler Configuration
Documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**

feature:
  - head-branch: ['^feature', 'feature']

bug:
  - head-branch: ['^bug', 'bug']

bugfix:
  - head-branch: ['^bug', 'bug']

Dependencies:
  - changed-files:
      - any-glob-to-any-file: ['package.json', 'yarn.lock']

Backend:
  - changed-files:
      - any-glob-to-any-file: backend/**

Frontend:
  - changed-files:
      - any-glob-to-any-file: src/**

End-to-End:
  - changed-files:
      - any-glob-to-any-file: e2e/**

Unit-Tests:
  - changed-files:
      - any-glob-to-any-file: backend/__tests__/**

API:
  - changed-files:
      - any-glob-to-any-file: ['backend/api/**', 'backend.json']

Translations:
  - changed-files:
      - any-glob-to-any-file: ['src/i18n/**', 'src/translations', 'src/translations/**']
